*body style{
  margin-left: 20px;
  margin-right: 60px;
  margin-bottom: 700px;
  margin-top: 70px;  
  }
.row {
  text-align: center;
  grid-template-rows: max-content 100px 1fr;
  row-gap: 200px;
  }
.cards{
  margin-left: 50px;
  margin-right: 150px;
}
.card{
  margin-left: 50px;
  margin-right: 150px;
  }