{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'contact.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <title>E-challan</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-dark ">
      <a class= "navbar-brand text-light">Contact Us</a>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
      </span>
    </nav>
    <!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 > E-challan </h5>
        <p>The e challan helpline number is 0120-2459171. You can call the number between 6 am and 10 pm. You can also email helpdesk-echallan@gov.in if you face any technical problems.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        

        <ul class="list-unstyled">
          <li>
            <a href="https://www.google.com/search?q=twitter&oq=twitt&aqs=chrome.0.0i131i355i433i512j46i131i199i433i465i512j69i57j0i131i433i512l2j0i433i512j0i131i433i512j69i60.6255j0j7&sourceid=chrome&ie=UTF-8">Twitter</a>
          </li>
          <li>
            <a href="https://www.google.com/search?q=google&oq=goo&aqs=chrome.0.35i39j46i67i131i199i433i465j69i57j0i20i131i263i433i512j0i131i433i512j69i60l3.2538j0j7&sourceid=chrome&ie=UTF-8">Google</a>
          </li>
          <li>
            <a href="https://www.google.com/search?q=instagram&oq=ins&aqs=chrome.1.69i57j0i67i131i433j0i131i433i512j0i512j0i131i433i512j46i175i199i512j0i131i433i512j69i60.4284j0j7&sourceid=chrome&ie=UTF-8">Instagram</a>
          </li>
          <li>
            <a href="https://www.google.com/search?q=facebook&oq=fac&aqs=chrome.0.35i39j46i20i131i199i263i433i465i512j69i57j0i20i131i263i433i512j46i199i465i512j0i512j0i131i433i512j69i60.2663j0j9&sourceid=chrome&ie=UTF-8">Facebook</a>
          </li>
        </ul>

      </div>
      
</footer>
<!-- Footer --> 
</footer>
    </div>
  </div>
</footer>

     <footer class="footer">
    
        <div class="container">
            <div class="row">
              <div class="footer-col">
                <h4>E-Challan</h4>
                <ul>
                  <li><a href="">about us</a></li>
                  <li><a href="">services</a></li>
                  <li><a href="">privacy policy</a></li>
                  <li><a href="">affiliate program</a></li>
                </ul>
              </div>
              <div class="footer-col">
                <h4>get help</h4>
                <ul>
                  <li><a href="">FAQ</a></li>
                  <li><a href="">Payment options</a></li>
                </ul>
              </div>
              <div class="footer-col ">
                <h4>follow us</h4>
                <div class="social links">
                  <ul class="list-unstyled list-inline">
                  <li class="list-inline-item">
                  <a href="#" class="btn-floating btn-sm text-light" style="font-size: 40px;"><i class="fab fa-facebook"></i></a>
                  <a href="#" class="btn-floating btn-sm text-light" style="font-size: 40px;"><i class="fab fa-twitter"></i></a>
                  <a href="#" class="btn-floating btn-sm text-light" style="font-size: 40px;"><i class="fab fa-instagram"></i></a>
                  <a href="#" class="btn-floating btn-sm text-light" style="font-size: 40px;"><i class="fab fa-whatsapp"></i></a>
                  
                  </li>
                </ul>
               </div>
            </div>
          </div> 
        </div> 
        
    </footer> 
    <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2023 Copyright:
    <a href="/"> E-Challan.com</a>
  </div>
  <!-- Copyright -->
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>