{% extends 'base.html' %}

{% block content %}
<script>
    function calculateTotal(id) {
        var checkboxes = document.getElementsByName("challan_select");
        var totalAmount = 0;
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                var row = checkboxes[i].parentNode.parentNode;
                var fineAmount = row.cells[6].innerHTML;
                totalAmount += parseInt(fineAmount);
            }
        }
        document.getElementById("total_amount").innerHTML = totalAmount;
        document.getElementById("value").value = totalAmount;
        console.log("challan-" + id)
        document.getElementById("challan-" + id).value = 1;
    }
</script>

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-light" href="{%url 'challan'%}">E-Challan</a>
    <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-link active text-light" href="{%url 'e_contact'%}">contact us<span class="sr-only">(current)</span></a>
        <a class="nav-link text-light " href="{%url 'e-challan'%}">about e-challan</a>
      </div>
    </div>
  </nav><br><br><br>
<center>

<form method ='post' action="{% url 'challan-payment' %}">
  {%csrf_token%}
{% if record %}
    <strong><h1>Challan Details:</h1><br></strong>
        <table style="width:90%">
            <tr>
              <th>Select</th>
              <th>Vehicle Number</th>
              <th>Owner Name</th>
              <th>Place</th>
              <th>Date</th>
              <th>Rule Breaked</th>
              <th>Fine Amount</th>
              <th>Image</th>
            </tr>
            <tbody>
              {% for Issue_Challan in record %}
              <tr>
              <td><input type="checkbox" name="challan_select" value="{{ challan.id }}" onchange="calculateTotal({{Issue_Challan.id}})"></td>  
              <td> {{ Issue_Challan.vehicle.Vehicle_Number|upper}}</td>
              <td>{{ Issue_Challan.vehicle.Owner_Name }}</td>
              <td>{{ Issue_Challan.Place }}</td>
              <td>{{Issue_Challan.Date}}</td>
              <td>{{Issue_Challan.Rule_Name}}</td>
              <td> {{ Issue_Challan.Fine_Amount }}</td>
              <td>
                <input type="hidden" id="challan-{{Issue_Challan.id}}" name="challan-{{Issue_Challan.id}}" value="0">
                {% if Issue_Challan.upload_image %}
                <img style='max-width:100px' src = "{{ Issue_Challan.upload_image }}">
                {% endif %}
                </td>
            </tr>
              {% endfor %}
          </tbody>
        </table><br><br>
          <b>Total Amount:<div id="total_amount">0</div></b><br>
          <input type="hidden" name="vehicle_number" value="{{record.0.vehicle.Vehicle_Number|upper}}">
      <input type="hidden" name="value" id="value" value="0">
      <input type ="submit" value ="Pay Challan" class="btn btn-danger">
    

  {% endif %}

{% if error %}
    <h1>{{ error }}</h1>
{% endif %}
</form>
</center>
{% endblock %}