{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-light" href="{%url 'challan'%}">E-Challan</a>
    <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-link active text-light" href="{%url 'e_contact'%}">contact us<span class="sr-only">(current)</span></a>
        <a class="nav-link text-light " href="{%url 'e-challan'%}">about e-challan</a>
      </div>
    </div>
  </nav><br><br><br>
<center>
{% if record %}
    <strong><h1>Payment History:</h1><br></strong>
    <b>
    {% for Payment in record %}
    Vehicle Number : {{ Payment.vehicle_number|upper}}<br><br>
    Amount paid : {{ Payment.amount_paid }}<br><br>
    {%endfor%}
    </b>

  {% endif %}

  {% if error %}
    <h1>{{ error }}</h1>
  {% endif %}
</center>
{% endblock %} 
