{% extends 'base.html'%}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-light" href="{%url 'challan'%}">E-Challan</a>
    <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-link active text-light" href="{%url 'e_contact'%}">contact us<span class="sr-only">(current)</span></a>
        <a class="nav-link text-light " href="{%url 'e-challan'%}">about e-challan</a>
      </div>
    </div>
  </nav><br><br><br><br><br>
<form method='post' >
  {% csrf_token %}
<center><h1><strong>E-Challan Portal</strong></h1><br>
    <h3>Payment History</h3><br>
<strong><label for="value">Vehicle Number:</label>
<input type="text" id="value" name="value"></strong><br><br>
<p>Enter your Vehicle Number to view challan Payment history</p>
<input type ="submit" value ="View Challan" class="btn btn-danger">
{% if record %}
<h1>Challan Details:</h1>
<p>Name: {{ record.Vehicle_Number }}</p>
<p>Place: {{ record.Place }}</p>
<p>Amount: {{ record.Fine_Amount }}</p>
{% endif %}

{% if error %}
<h1>{{ error }}</h1>
{% endif %}
</center>
</form>
{% endblock %}

