{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-light" href="{%url 'challan'%}">E-Challan</a>
    <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-link active text-light" href="{%url 'e_contact'%}">contact us<span class="sr-only">(current)</span></a>
        <a class="nav-link text-light " href="{%url 'e-challan'%}">about e-challan</a>
      </div>
    </div>
  </nav><br><br><br>
<center>
{% if record %}
    <strong><h1>Challan Details:</h1><br></strong>
        <table style="width:90%">
            <tr>
              {% comment %} <th>Select</th> {% endcomment %}
              <th>Vehicle Number</th>
              <th>Owner Name</th>
              <th>Place</th>
              <th>Date</th>
              <th>Rule Breaked</th>
              <th>Fine Amount</th>
              <th>Image</th>
            </tr>
            <tbody>
              {% for Issue_Challan in record %}
              <tr>
              {% comment %} <td><input type="checkbox" name="challan_select" value="{{ challan.id }}"></td>   {% endcomment %}
              <td> {{ Issue_Challan.vehicle.Vehicle_Number|upper}}</td>
              <td>{{ Issue_Challan.vehicle.Owner_Name }}</td>
              <td>{{ Issue_Challan.Place }}</td>
              <td>{{Issue_Challan.Date}}</td>
              <td>{{Issue_Challan.Rule_Name}}</td>
              <td> {{ Issue_Challan.Fine_Amount }}</td>
              <td>
                {% if Issue_Challan.upload_image %}
                <img style='max-width:100px' src = "{{ Issue_Challan.upload_image }}">
                {% endif %}
                </td>
            </tr>
              {% endfor %}
          </tbody>
        </table><br>
  {% endif %}

  {% if error %}
    <h1>{{ error }}</h1>
  {% endif %}
</center>
{% endblock %} 


